body {
  /* background-image: url('assets/book.jpg'); */
  background-color: #4B1D1D;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
